<div id="div" class="section_all">
	<div>
		 <a href="">Accueil</a>
	</div>
	<!--<div>		
		<a href="">Services</a>
	</div> -->
	<div>
				<a href="#realisation">Réalisations</a>
	</div>
	<div>
	
		<a href="#user_contact">	Contact</a>
	</div>

</div>
<div class="section_all_2">
	<img :src="technologie" alt="">
	<div id="section0">
	  <h1>
		Technicien devops  
		</h1>  
	</div>
</div>
<div class="section_all_3" style="margin-top:50px" id="realisation">
<a href="http://luvumbu.com/work/">
		<figure>
		<div class="section_all_3_img">
			    <img src="http://bokonzi.com/allimg/uploads/home-office-336373_1920.jpg"
         alt="Elephant at sunset">
		</div>

    <figcaption>Feuille de pointage heure de travail</figcaption>
</figure>
</a>

<a href="http://luvumbu.com/concert_vue_js/">
	<figure>
			<div class="section_all_3_img">
			    <img src="http://bokonzi.com/allimg/uploads/chicago.jpg"
         alt="Elephant at sunset">
		</div>
	<figcaption>Concert</figcaption>
</figure>
</a>
<a href="http://luvumbu.com/aduke/">
	<figure>
		<div class="section_all_3_img">
				<img src="https://i.pinimg.com/564x/56/93/82/569382d7b6879d6e7f6441460bbc7a35.jpg"
			 alt="Elephant at sunset">
	</div>
<figcaption>Sallon de coiffure</figcaption>
</figure>

<a href="http://luvumbu.com/burger/">
	<figure>
		<div class="section_all_3_img">
				<img src="https://www.w3schools.com/w3images/hamburger.jpg"
			 alt="Elephant at sunset">
	</div>
<figcaption>Burger</figcaption>
</figure>
</a>

<a href="http://luvumbu.com/ip/ip.php">
	<figure>
		<div class="section_all_3_img">
				<img src="https://i.pinimg.com/originals/3b/ce/5f/3bce5f07b22ddbaa7cd66984cefba97d.jpg"
			 alt="Elephant at sunset">
	</div>
<figcaption>Adresse ip user</figcaption>
</figure>
</a>



<div class="section_all_3" id="user_contact">
	<div>
		<b>mail :</b>
		luvumbu.n@gmail.com
	</div>
 
 
</div>

