<div id="header1">
	<div>
		<div style="padding:10px">
			Ndenga luvumbu
		</div>
	</div>
	<div id="header_selector">
		<div onclick="alert()">
			<a href="https://fr-fr.facebook.com/ndenga.luvumbu.98"> <i class="fa fa-facebook-official"></i></a>

		</div>
		<div>
			<a href="https://www.instagram.com/ndenga_luvumbu/?hl=fr"><i class="fa fa-instagram"></i></a>

		</div>
		<div>
			<a href="https://twitter.com/bokonzi1"><i class="fa fa-twitter"></i></a>

		</div>
		<div>
			<a href="https://www.linkedin.com/in/ndenga-luvumbu-b67789125/"><i class="fa fa-linkedin-square"></i></a>

		</div>
	</div>
</div>